body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  color: #616161; /* grey darken-2 */
}

h3 {
  color: #9e9e9e; /* grey */
  width: 88vw;
  margin: 18px auto;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 88vw;
  height: 60vw;
}

.svg {
  width: 100%;
  height: 100%;
  background: #eeeeee; /* grey lighten-3 */
}

@media (min-width: 980px) {
  .container {
    width: 870px;
    height: 580px;
  }
}
